.note {
  height: max-content;
  border-radius: 5px;
  background-color: var(--plain-white);
  border: solid 1px lightgray;
  padding: 2rem;
  min-height: 265px;
}

.note:hover {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.note.blue,
.create-note-modal .modal-body .content.blue {
  background-color: #dbeafe;
}

.note.green,
.create-note-modal .modal-body .content.green {
  background-color: #bbf7d0;
}

.note.red,
.create-note-modal .modal-body .content.red {
  background-color: #fecaca;
}

.note.yellow,
.create-note-modal .modal-body .content.yellow {
  background-color: #fde68a;
}

.note .actions {
  display: flex;
  column-gap: 1.5rem;
}

.note .icon {
  font-size: 1.7rem;
  color: gray;
}

.note .icon:hover {
  color: var(--primary-color);
}

.note .priority {
  color: #4338ca;
  font-weight: 600;
  font-size: 1.2rem;
  /* border: solid 1.5px #4338ca; */
  border-radius: 14px;
  padding: 4px 6px;
  margin-right: 1rem;
}

.note .content,
.note .title {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note .title {
  font-size: 1.8rem;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}

.note .content {
  height: 100px;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.4;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 1.5rem 0;
  word-break: break-all;
}

.note .content img {
  max-width: 100%;
}

.tag-container .tag {
  width: max-content;
  background: lightgray;
  padding: 4px 10px;
  border-radius: var(--round-radius);
  margin: 1rem 0;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.note .footer {
  margin-top: auto;
  row-gap: 1rem;
}

.note .date {
  font-size: 1.2rem;
  color: var(--plain-gray);
}

.note .fa-map-pin.active {
  color: var(--primary-color);
}
